@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

/* Page */

body {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px #00000033;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Buttons */

.button-primary {
  background-color: #756157;
  cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
  background: #615048;
}

.button-primary:active {
  background: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-secondary {
  background: #82B3D3;
  cursor: pointer;
}

.button-secondary:hover,
.button-secondary:focus {
  background: #68A2CA;
}

.button-secondary:active {
  background: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button-selected {
  background-color: #7DB54F;
  cursor: pointer;
}

.button-selected:hover,
.button-selected:focus {
  background-color: #6c9e42;
}

.button-selected:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

/* Navigation */

.navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0;
  padding: 20px 0 18px 0;
}

.link-state {
  background-color: #ffffff;
  cursor: pointer;
}

.link-state:hover,
.link-state:focus {
  background-color: #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.link-state:active {
  background-color: #f2f2f2;
  color:rgba(0, 0, 0, 0.1)
}

.navigation-item {
  margin: 0;
  padding: 0 16px;
}

.navigation-link-current {
  position: relative;
  border-bottom: 2px solid #756257;
  z-index: 1;
}

.navigation-link-current:hover,
.navigation-link-current:focus {
  background-color: #f2f2f2;
  border-bottom: 2px solid #756257;
}

.navigation-link-current:active {
  background-color: #f2f2f2;
  color:rgba(0, 0, 0, 0.1)
  border-bottom: 2px solid #756257;
}

.page-header-logo {
  position: absolute;
  top: 0;
  z-index: 1;
  margin-left: 70px;
}

.navigation-user .navigation-link {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
}

.link-user-state {
  background-color: #ffffff;
  cursor: pointer;
}

.link-user-state:hover,
.link-user-state:focus {
  background-color: #f2f2f2;
}

.link-user-state:active {
  background-color: #f2f2f2;
  color:rgba(0, 0, 0, 0.1)
}

.navigation-seach {
  height: 64px;
  margin: 0;
  padding: 0;
  display: flex;
}

.favorites-countWrapper {
  position: relative;
  height: 100%;
  display: flex;
  padding: 0;
}

.favorites-link {
  display: flex;
  width: 44px;
  height: 64px;
  justify-content: center;
}

.favorites-counter {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 3px;
  top: 12px;
  background: #7DB54F;
  border-radius: 10px;

  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-button {
  background-color: #756157;
  color: #ffffff;
  padding: 8px 34px;
  margin-right: 70px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Page-index */

.main-container {
  flex-grow: 1;
  width: 1200px;
}

/* Promo */

.main-page-promo {
  background-image: url("../images/background-main.jpg");
  background-color: #ffffff;
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  text-align: center;
  position: relative;
}

div.main-page-promo {
  height: 485px;
}

div.main-page-promo::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/divider.png");
  height: 57px;
}

img.main-page-promo {
  padding: 52px;
}

/* Advantages */

.banner-advantages {
  text-align: center;
}

.promo-title-text {
  font-weight: 700;
  font-size: 30px;
  margin-top: 69px;
  margin-bottom: 25px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 69px;
}

.advantages-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
  margin: 0;
  position: relative;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  top: 86px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-image::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    top: 86px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  width: 230px;
  text-align: center;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #82b3d3;
  margin: 0;
}

.advantages-item:first-child {
  color: #ffffff;
}

.advantages-item:nth-child(2n) {
  background-color: #83b3d31f;
}

.advantages-road {
  background-color: #83b3d333;
}

.advantages-item:last-child {
  color: #ffffff;
}

.advantages-mediaItem {
  flex-direction: row;
}

.advantages-infoWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 62px;
  align-items: center;
  width: 400px;
  min-height: 385px;
  justify-content: center;
  padding: 92px 85px 111px;
  box-sizing: border-box;
}

/* Services */

.banner-services {
  text-align: center;
}

.promo-services-text {
  font-weight: 700;
  font-size: 30px;
  margin-top: 64px;
  margin-bottom: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.services-text {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 64px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.services-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 385px;
  box-sizing: border-box;
  justify-content: center;

}

.services-item:first-child {
  background: #83b3d31f;
}

.services-item:last-child {
  background: #83b3d31f;
}

.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  min-width: 74px;
  padding-top: 102px;
  padding-bottom: 30px;
  margin: 0;

  background-repeat: no-repeat;
  background-position: top;
}

.services-item-text {
  text-align: center;
  width: 230px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.service-accommodation {
  background-image: url("../images/home.svg");
}

.service-food {
  background-image: url("../images/burger.svg");
}

.service-souvenirs {
  background-image: url("../images/gift.svg");
}

/* Hotel-search */

.hotel-search {
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 274px;
}

.hotel-search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hotel-search-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 62px;
}

.button-hotels-search {
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px 50px;
  border-radius: 4px;
}

/* Newsletter */

.newsletter-page {
  background-image: url("../images/footer-newsletter.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  padding: 96px 258px 104px;
}

.newsletter-page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-form {
  display: flex;
  margin-top: 54px;
}

.newsletter-form > input {
  width: 452px;
  height: 52px;
  padding: 0 0 0 20px;
  border: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  color: #000000;
}

.newsletter-button {
  display: flex;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  width: 232px;
  height: 52px;
  border: none;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.field {
  border-radius: 4px 0 0 4px;
}

/* Footer-page */

.page-footer {
  height: 120px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  display: flex;
  gap: 27px;
  padding-left: 0;
  list-style-type: none;
}

.footer-social-item:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-social-item:hover path,
.footer-social-item:focus path {
  fill: #83B3D3;
}

.footer-social-link {
  display: flex;
  gap: 27px;
  padding-left: 0;
}

.footer-contacts-telephone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.footer-contacts-telephone:hover,
.footer-contacts-telephone:focus {
  color: #756157;
}

.footer-contacts-telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link:hover path,
.footer-logo-link:focus path {
  fill: #756157;
}

.footer-logo-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Catalog */

.inner-header {
  background-image: url("../images/background-inner.jpg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  gap: 8px;
  padding-left: 0;
  list-style-type: none;
  margin: 8px 0 0 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Catalog-filter */

.catalog-filter {
  display: flex;
  gap: 70px;
}

.catalog-filter-group {
  min-width: 150px;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.catalog-filter-group:nth-child(3) {
  margin-left: 80px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 32px;
}

.catalog-filter-list {
  line-height: 23px;
  color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  position: relative;
  padding-left: 36px;
}

.control-customMark {
  position: absolute;
  top: 2px;
  left: 1px;
  width: 16px;
  height: 16px;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  border-radius: 4px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  border: 1px solid #FFFFFF;
  background: #FFFFFF;
  border-radius: 50%;
}

.control:hover .control-customMark {
  opacity: 0.6;
}

.control:focus-within .control-customMark {
  outline: 3px solid #83B3D3;
}

.control:active .control-customMark {
  opacity: 0.3;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control:focus-within .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  opacity: 0.3;
}

.control-customLabel:hover {
  opacity: 0.6;
}

.control-customLabel:active {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-customMark {
  background: url('../images/checked.svg');
  background-color: #ffffff;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.control-label > input {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  color: #000000;
  width: 143px;
  height: 48px;
  background: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
  box-sizing: border-box;
}

input.price-from {
  margin-left: 3px;
}

input.price-to {
  margin-left: -3px;
}

.control-label {
  position: relative;
}

.control-label > span {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  position: absolute;
  right: 20px;
  top: 0;
  opacity: 0.3;
}

.price-from + span {
  right: 25px;
}

input.field:hover {
  background: #E6E6E6;
}

input.field:focus {
  background: #ffffff;
  border: none;
  outline: 2px solid #000000;
}

input.field:active {
  background: #E6E6E6;
  border: none;
  outline: 3px solid #83B3D3;
}

input.field.price-to {
  border-radius: 0 4px 4px 0;
}

.range {
  margin-top: 42px;
}

.range-scale {
  position: relative;
  height: 0;
  margin-bottom: 16px;
  border-radius: 2px;
  width: 287px;
  border: 4px solid #FFFFFF;
  margin-left: 4px;
  box-sizing: border-box;
}

.range-bar {
  position: absolute;
  height: 4px;
  background: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83B3D3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.toggle-min {
  top: -10px;
  left: -10px;
}

.toggle-max {
  top: -10px;
  right: -10px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 95px;
  gap: 32px;
  box-sizing: border-box;
}

.button-apply {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  padding: 8px 50px;
}

.button-throw-off {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  border: none;
  background: none;
  padding: 8px 50px;
}

.button-throw-off:hover {
  opacity: 0.6;
}

.button-throw-off:focus {
  border: none;
  outline: 3px solid #83B3D3;
}

.button-throw-off:active {
  color: rgba(255, 255, 255, 0.3);
}

/* Sorting panel */

.catalog-hotels {
  padding: 50px 70px;
}

.catalog-hotels-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.catalog-hotels-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 292px;
  margin-left: 86px;
}

.select-control {
  color: #333333;
  min-height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 100%;
  padding: 8px 48px 8px 14px;
  font: inherit;
  background-color: #ffffff;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 2px solid #68A2CA;
}

.select-control:active {
  border: 2px solid #3F5E72;
}

.sorting-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.button-sort {
  padding: 16px 17px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.button-sort-current,
.button-sort:hover,
.button-sort:active {
  border: 2px solid #000000;
}

.button-sort:focus {
  border: 2px solid #68A2CA;
}

/* Hotel cards */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-left: 0;
  list-style-type: none;
  margin-top: 45px;
}

.hotel-card {
  padding: 20px 20px 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 16px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  margin-top: 16px;
  margin-bottom: 0;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-filter .hotel-card-price {
  color: #333333;
}

.hotel-card-filter {
  margin-bottom: 0;
}

.hotel-card-info > .button {
  padding: 8px 0;
  width: 140px;
  border-radius: 4px;
  text-align: center;
}

.hotel-card-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
}

.hotel-card-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82b3d3;
  width: 100%;
}

li:nth-child(2) .hotel-card-favorites {
  background: #7db54f;
}

.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background: #F2F2F2;
  width: 140px;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  margin-top: 10px;
}

.hotel-card-price {
  text-align: right;
  margin-bottom: 0;
}

/* Pagination */

.pagination {
  display: flex;
  gap: 8px;
  border-top: 1px solid #E6E6E6;
  padding-top: 40px;
  margin-top: 40px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #82b3d3;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item:first-child a {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item:nth-child(5) {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.pagination-current {
  pointer-events: none;
}

/* Newsletter-inner */

.newsletter-inner {
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  padding: 96px 258px 104px;
}

.newsletter-inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter-inner-text {
  color: #333333;
}

.newsletter-inner-button {
  color: #ffffff;
}

/* Modal */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 1;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 0;
  margin-bottom: 64px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  padding: 0;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #f2f2f2;
  border: none;
}

.modal-close-button:not(:disabled):hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83b3d3;
}

.modal-close-button:not(:disabled):active,
.modal-close-button svg:active {
  opacity: 0.4;
  background-color: #E6E6E6;
}

.modal-close-button:disabled {
  opacity: 0.2;
}

.modal-form {
  display: grid;
  grid-template-areas:
    "check-in-label   check-in-field   check-in-field   check-in-field"
    "check-out-label  check-out-field  check-out-field  check-out-field"
    "adults-label     counters         counters         counters"
    "submit           submit           submit           submit";
  align-items: baseline;
}

.modal-form-check-in-label {
  grid-area: check-in-label;
}

.modal-form-check-in-field {
  grid-area: check-in-field;
  position: relative;
}

.modal-form-check-out-label {
  grid-area: check-out-label;
}

.modal-form-adults-label {
  grid-area: adults-label;
}

.modal-form-adults-field {
  grid-area: adults-field;
}

.modal-form-children-label {
  grid-area: children-label;
  margin-left: 75px;
}

.modal-form-submit {
  grid-area: submit;
  margin-top: 48px;
  height: 60px;
  background: #83B3D3;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "PT Sans", sans-serif;
}

.modal-form-counters {
  grid-area: counters;
}

.modal-form-check-out-field {
  grid-area: check-out-field;
  position: relative;
}

.modal-form-info,
.modal-form-error {
  padding-left: 20px;
  font-size: 16px;
  line-height: 21px;
  margin-top: 4px;
  margin-bottom: 24px;
}

.modal-form-error {
  grid-area: error;
  color: #FF5757;
}

.modal-form-info {
  grid-area: info;
  color: #333333;
}

.modal-text {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  margin-right: 24px;
}

.search-input-date {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 440px;
  height: 48px;
  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  position: relative;
}

.search-input {
  font-family: inherit;
  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
}

.search-input:not(:disabled):hover {
  color: rgba(0, 0, 0, 0.6);
  background-color: #E6E6E6;
}

.search-input:focus {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
  color: #000000;
}

.search-input:active {
  outline: 3px solid #83b3d3;
  background-color: #E6E6E6;
  color: #000000;
  opacity: 0.6;
}

.search-input:disabled {
  opacity: 0.3;
}

.input-calendar {
  position: absolute;
  top: 16px;
  right: 30px;
  opacity: 0.3;
}

.modal-form-field {
  display: flex;
}

.modal-form-counters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.modal-form-counter-control {
  width: 47px;
  height: 48px;
  background: #F2F2F2;
  color: rgba(117, 97, 87, 0.3);
  border-radius: 4px;
  border: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form-counter-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.modal-form-counter-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

span.modal-form-counter-control {
  width: 31px;
  color: #000000;
  border-radius: 0;
}

button.plus-minus:hover {
  color: #000000;
}

button.plus-minus:focus  {
  color: #000000;
  border: 3px solid #82B3D3;
}

button.plus-minus:active {
  color: rgba(0, 0, 0, 0.2);
}

.modal-form-tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  right: 25px;
  margin-left: 10px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  border: none;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #83b3d3;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-toggle:not(:disabled):hover {
  background-color: #68a2ca;
}

.tooltip-toggle:not(:disabled):active {
  background-color: #82b3d3;
}

.tooltip-toggle:disabled {
  opacity: 0.3;
}

.tooltip-text {
  width: 216px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 1;
}

.tooltip-text::before {
  content: "";
  width: 19px;
  height: 9px;
  position: absolute;
  background-image: url("../images/tooltip.svg");
  bottom: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.tooltip-toggle:not(:disabled):hover + .tooltip-text,
.tooltip-toggle:not(:disabled):focus + .tooltip-text {
  display: block;
}
